<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
</head>
<body>
    <h1>Add New Article</h1>
    <form action="/admin" method="POST" enctype="multipart/form-data">
        <label>Title:</label><br>
        <input type="text" name="title" required><br><br>

        <label>Description:</label><br>
        <input type="text" name="description"><br><br>

        <label>Content:</label><br>
        <textarea name="content"></textarea><br><br>

        <label>Image:</label><br>
        <input type="file" name="image"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
